<div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-4">
        <mat-form-field>
            <mat-label>Curso</mat-label>
            <mat-select>
              <mat-option *ngFor="let curso of cursos" [value]="curso.value">
                {{curso.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>




<!-- <mat-card>Simple card</mat-card>

<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  